@model IEnumerable<CarDealer.Models.ViewModels.Sales.SaleVm>

@{
    ViewBag.Title = "Discounted Sales";
}

<h2>Discounted</h2>

<h4>Sales</h4>

<table class="table table-striped">
    <tr>
        <th>Owner</th>
        <th>Car info</th>
        <th>Price</th>
        <th>Discount</th>
    </tr>
    @foreach (var sale in Model) {
    <tr>
        <td>@sale.Customer.Name</td>
        <td>@sale.Car.Make @sale.Car.Model - @sale.Car.TravelledDistance km</td>
        <td>$ @sale.Price</td>
        <td>@(sale.Discount*100) %</td>
    </tr>
}

</table>
